* {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#heading {
    background-color: #132d5c;
    color: #9fc1ff;
    padding: 30px;
}

.bio {
    padding: 30px;
    font-size: 20px;
}

#sec {
    background-color: #cedefd;
    padding: 30px;
}

dl {
    margin: 20px;
}
